.idea*
processed_images/*
.DS*
mystats.stats
mystats_output.txt
i2c.py
i2c_test.py
out.txt
rpi_i2c_sample_code.py
=======
test_images/*
Third_Eye_Eagle/Cam*

*.epf
*.s#?
*.b#?
*.l#?
*.lck
__pycache__/*
